.Sec1HomeMain{width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url(../Assets/Sec1\ BG.png);
background-repeat: no-repeat;
background-position: center;
padding: 185px 80px 80px 80px;
box-sizing: border-box;
background-size: cover;}

.Sec1Img{width: 60%;}

.ButtonHoldingDiv{width: 50%;
display: flex;
align-items: center;
justify-content: center;
padding: 64px;
box-sizing: border-box;
gap: 1.5rem;}

.Sec1Lower{width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 0px 0 0px;
box-sizing: border-box;
}

.UD2img{width: 7%;}

.Sec1LowerRight{
display: flex;
justify-content: center;
align-items: center;
gap: .5rem;}

.Sec1LowerRightDot{width: 8px;
height: 8px;
border-radius: 24px;
background-color: rgb(15, 232, 15);}


.OFW{font-size: 16px;
font-weight: 400;
color: white;
font-family: QuickSand;}


@font-face {
    font-family:QuickSand;
    src: url(../Assets/Quicksand-VariableFont_wght.ttf);
}


