
@font-face {
    font-family:QuickSand;
    src: url(../Assets/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family:StretchPro;
    src: url(../Assets/StretchPro.otf);
}

@font-face {
    font-family:Rensafi;
    src: url(../Assets/Renasfi-Demo-BF68d8f58fbb6e6.otf);
}