
@font-face {
    font-family:QuickSand;
    src: url(../Assets/Quicksand-VariableFont_wght.ttf);
}

.HIAWCard{width: 30%;
border-radius: 24px;
border: 1px solid white;
background-color: #101010;
display: flex;
padding: 40px;
box-sizing: border-box;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
color: #fefefe;
font-family: QuickSand;
min-height: 575px;}


.CardNumStyle{
font-family: QuickSand;
font-size: 104px;
font-style: normal;
color: white;
font-weight: 300;
line-height: 1;
line-height: normal;}

.HIAWCardContent{width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 1.5rem;}

.CardTitleStyle{
font-family: QuickSand;
font-size: 40px;
font-style: normal;
color: white;
line-height: 1;
font-weight: 400;
line-height: normal;}

.CarddescStyle{font-family: QuickSand;
font-size: 16px;
font-style: normal;
opacity: 0.7;
line-height: 1;
color: white;
font-weight: 400;
line-height: normal;}