.Sec5Main{width: 100%;
background-color: #101010;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 5rem;
background-image: url(../Assets/Sec4\ BG.png);
background-size: cover;
background-repeat: no-repeat;
padding: 80px;
box-sizing: border-box;}

.Sec5Bottom{width: 100%;
display: flex;
justify-content: space-between;
align-items: center;}