.Sec6Main{width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 80px;
box-sizing: border-box;
border-top: 1px solid #ff7a1c;
background-color: #101010;}

.sec6-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
      box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 80px 0 80px;
    background-color: #101010;
    gap: 24px;
  background-color: #101010;
}


.sec6-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1.5rem;
    flex-direction: row;
}

.txtdec{text-decoration: none;}