.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}

.project-display-img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}