
@font-face {
    font-family:QuickSand;
    src: url(../Assets/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family:StretchPro;
    src: url(../Assets/StretchPro.otf);
}

@font-face {
    font-family:Rensafi;
    src: url(../Assets/Renasfi-Demo-BF68d8f58fbb6e6.otf);
}

.FooterMain{width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 80px;
box-sizing: border-box;
height: 920px;
background-color: #101010;}


.FooterInside{width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
background-image: url(../Assets/FooterBG.jpg);
background-blend-mode: overlay;
height: 100%;
align-items: center;
padding: 80px;
box-shadow: 0 -29px 126px 78px #000, 0 0 31.8px 3px rgba(255, 255, 255, 0.25) inset;
box-sizing: border-box;
border-radius: 74px;
border: 1px solid var(--Color-Text, #FFF0ED);
background-color: #101010;}

.FooterContSec{width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2.5rem;}

.HUEimg{width: 100%;}

.FooterCenterContent{width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;}

.DLimg {
  width: 80%;
}

.FooterTXT{font-size: 16px;
font-family: Quicksand;
font-weight: 300;
text-align: center;
color: #FEFEFE;}


.FootorBottomSection{width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;}